<ion-content [fullscreen]="true" class="fondo">
  <div class="header">
    <div class="header-text">
      <span class="txtDorado">TeLlevo</span> <span class="txtBlanco">App</span>
    </div>
  </div>

  <div class="icono"><ion-icon name="chevron-back-outline" (click)="configuracion ()"></ion-icon></div>
  <div class="busqueda">
    <span>
      <ion-icon name="search-outline"></ion-icon>Dirección... 
      <ion-icon name="close-outline"></ion-icon>
    </span>
  </div>

  <div id="mapId" style="width: 250px; height: 250px; border: solid 2px black; margin-left: 20px;"></div>

</ion-content>
