<ion-content [fullscreen]="true" class="fondo">
  <div class="header">
    <div class="header-text">
      <span class="txtDorado">TeLlevo</span> <span class="txtBlanco">App</span>
    </div>
  </div>

  <div class="titulo">
    <ion-icon name="chevron-back-outline" (click)="conductor()"></ion-icon>Trayecto
  </div>
  <div id="mapId" style="width: 250px; height: 250px; border: solid 2px black; margin-left: 20px;"></div> <br>
  <mat-form-field floatLabel="always" style="margin-left: 5%; color: black;">
    <mat-label>Precio</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0" [(ngModel)]="valor">
    <span matTextPrefix>$&nbsp;</span>
    <span matTextSuffix>.00</span>
  </mat-form-field>


  <br>
  <ion-button fill="clear" expand="block" class="boton" (click)="grabarViaje()">Crear viaje</ion-button>
  <ion-footer>
    <div class="footer">
      <ion-icon name="home-outline" (click)="menu()"></ion-icon>
      <ion-icon name="car-sport-outline" (click)="servicios()"></ion-icon>
      <ion-icon name="person-circle-outline" (click)="cuenta()"></ion-icon>
    </div>
  </ion-footer>
</ion-content>