.header {
    background-color: #004b80; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 9%; 
    font-size: large;
    font-weight: bold;
}
.txtDorado{
    color: gold; 
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
  
.txtBlanco{
    color: white; 
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.titulo {
    font-size: x-large;
    color: black;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;

}

.user-info {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
  
ion-icon {
    margin-right: 0px; 
}

.fondo{
    --background: url('../../../assets/img/fondo.png') 0/100% 100%;
    
}

ion-footer {
    background-color: #e3e3e3 ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.footer ion-icon {
    margin: 0 30px;
    font-size: 24px;
}



.titulo ion-icon{
    display: flex;
    justify-content: flex-start;
    margin-top: -10%;
}

.icono {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    color: black;
    margin-right: -20px; /* Agrega esto */
    border-bottom: 1px solid #ccc; /* Agrega una línea inferior */
    padding-bottom: 10px; /* Espacio entre la línea y el contenido */
}

.icono-grande {
    font-size: 100px;
    margin-right: 20px;
}

.detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.detalle span {
    font-size: medium;
    color: black;
}

.flecha{
    margin-top: 10px;
    font-size: 24px;
}

.viaje {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    color: black;
    margin-right: -20px; /* Agrega esto */
    border-bottom: 1px solid #ccc; /* Agrega una línea inferior */
    padding-bottom: 10px; /* Espacio entre la línea y el contenido */
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
}