<ion-content [fullscreen]="true" class="fondo">
  <div class="header">
    <div class="header-text">
      <span class="txtDorado">TeLlevo</span> <span class="txtBlanco">App</span>
    </div>
  </div>

  <div class="icono"><ion-icon name="chevron-back-outline" (click)="menu()"></ion-icon></div>
  <div class="busqueda">
    <span>
      <ion-icon name="search-outline"></ion-icon>Dirección... 
      <ion-icon name="close-outline"></ion-icon>
    </span>
  </div>

  <ion-toolbar color="white">
    <div class="direccion">
      <ion-icon name="location-outline"></ion-icon>
      <ion-title>Dirección anterior</ion-title>
    </div>
    <h1 class="direccion-detallada">Dirección detallada</h1>
  </ion-toolbar>
  <ion-toolbar color="white">
    <div class="direccion">
      <ion-icon name="location-outline"></ion-icon>
      <ion-title>Dirección anterior</ion-title>
    </div>
    <h1 class="direccion-detallada">Dirección detallada</h1>
  </ion-toolbar>
</ion-content>
